src/Abrasf.Web/Schemas/nacional/consultarRpsDisponivel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sped.fazenda.gov.br/nfse" xmlns="http://www.sped.fazenda.gov.br/nfse" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>

  <xsd:element name="ListaMensagemRetorno">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MensagemRetorno" type="tcMensagemRetorno" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!-- Consulta de RPS disponível - ConsultarRpsDisponivel -->
  <xsd:element name="ConsultarRpsDisponivelEnvio">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Pedido" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Prestador" type="tcIdentificacaoPessoaEmpresa"
										 minOccurs="1" maxOccurs="1" />
              <xsd:element name="IdentificacaoRps" type="tcIdentificacaoRps"
								minOccurs="0" maxOccurs="1" />
              <xsd:element name="Pagina" type="tsPagina"
								minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ref="dsig:Signature"
							 minOccurs="1" maxOccurs="1" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="ConsultarRpsDisponivelResposta">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="ListaRpsDisponivel"
              minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Prestador" type="tcIdentificacaoPessoaEmpresa"
                minOccurs="1" maxOccurs="1" />
              <xsd:element name="RpsDisponivel" type="tcIdentificacaoRps"
                minOccurs="1" maxOccurs="1000" />
              <xsd:element name="Pagina" type="tsPagina"
                minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ref="ListaMensagemRetorno"
              minOccurs="1" maxOccurs="1" />
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>