src/Abrasf.Web/Schemas/nacional/simpleTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sped.fazenda.gov.br/nfse" xmlns="http://www.sped.fazenda.gov.br/nfse" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>

  <!-- definition of simple elements -->
  <xsd:simpleType name="TVerNFSe">
    <xsd:annotation>
      <xsd:documentation>Tipo Versão da NF-e - 1.01</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="1\.01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSString">
    <xsd:annotation>
      <xsd:documentation>Tipo string genérico</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSStringComQuebraDeLinha">
    <xsd:annotation>
      <xsd:documentation>Tipo string genérico</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[\s\S!-ÿ]{1}[\s\S -ÿ]{0,}[\s\S!-ÿ]{1}|[\s\S!-ÿ]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSIdNFSe">
    <xsd:annotation>
      <xsd:documentation>
        Informar o identificador precedido do literal ‘NFS’. A regra de formação do identificador de 53 posições da NFS-e é:
        "NFS" + Cód.Mun.(7) + Amb.Ger.(1) + Tipo de Inscrição Federal(1) + Inscrição Federal(14) + No.NFS-e(13) + AnoMes Emis.(4) + Cód.Num.(9) + DV(1)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:maxLength value="53"/>
      <xsd:pattern value="NFS[0-9]{50}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSIdDPS">
    <xsd:annotation>
      <xsd:documentation>
        Informar o identificador precedido do literal ‘DPS’. A regra de formação do identificador de 45 posições da DPS é:
        "DPS" + Cód.Mun (7) + Tipo de Inscrição Federal (1) + Inscrição Federal (14 - CPF completar com 000 à esquerda) + Série DPS (5)+ Núm. DPS (15)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:maxLength value="45"/>
      <xsd:pattern value="DPS[0-9]{42}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSTipoAmbiente">
    <xsd:annotation>
      <xsd:documentation>
        Tipos de ambiente do Sistema Nacional NFS-e: 
        1 - Produção; 
        2 - Homologação;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSAmbGeradorNFSe">
    <xsd:annotation>
      <xsd:documentation>
        Tipo Ambiente Gerador de NFS-e:
        1 - Prefeitura;
        2 - Sistema Nacional da NFS-e;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSAmbGeradorEvt">
    <xsd:annotation>
      <xsd:documentation>
        Tipo Ambiente gerador do evento:
        1- Prefeitura;
        2- Sefin Nacional;
        3- Ambiente Nacional.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSTipoEmissao">
    <xsd:annotation>
      <xsd:documentation>
        Tipo de emissão da NFS-e:
        1 - Emissão normal no modelo da NFS-e Nacional;
        2 - Emissão original em leiaute próprio do município com transcrição para o modelo da NFS-e Nacional.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
	  <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="tsRazaoSocial">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="150" />
            <xsd:minLength value="1" />
            <xsd:whiteSpace value="collapse" />
        </xsd:restriction>
    </xsd:simpleType>
  <xsd:simpleType name="TSProcEmissao">
    <xsd:annotation>
      <xsd:documentation>
        Processo de Emissão da DPS:
        1 - Emissão com aplicativo do contribuinte (via Web Service);
        2 - Emissão com aplicativo disponibilizado pelo fisco (Web);
        3 - Emissão com aplicativo disponibilizado pelo fisco (App);
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSData">
    <xsd:annotation>
      <xsd:documentation>Tipo data no formato AAAA-MM-DD</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="(((20(([02468][048])|([13579][26]))-02-29))|(20[0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSDateTimeUTC">
    <xsd:annotation>
      <xsd:documentation>Data e Hora, formato UTC (AAAA-MM-DDThh:mm:ssTZD, onde TZD = +hh:mm ou -hh:mm)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="(((20(([02468][048])|([13579][26]))-02-29))|(20[0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))T(20|21|22|23|[0-1]\d):[0-5]\d:[0-5]\d([\-,\+](0[0-9]|10|11):00|([\+](12):00))"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSVerAplic">
    <xsd:annotation>
      <xsd:documentation>Tipo Versão do Aplicativo que gerou o documento fiscal</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="TSString">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSSerieDPS">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="5"/>
      <xsd:pattern value="[0-9]{1,5}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSEmitenteDPS">
    <xsd:annotation>
      <xsd:documentation>
        Emitente da DPS:
        1 - Prestador
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <!--
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
      -->
    </xsd:restriction>
  </xsd:simpleType>
  <!--
  <xsd:simpleType name="TSMotivoEmisTI">
    <xsd:annotation>
      <xsd:documentation>
        Motivo da Emissão da DPS pelo Tomador/Intermediário:
        1 - Importação de Serviço;
        2 - Tomador/Intermediário obrigado a emitir NFS-e por legislação municipal;
        3 - Tomador/Intermediário emitindo NFS-e por recusa de emissão pelo prestador;
        4 - Tomador/Intermediário emitindo por rejeitar a NFS-e emitida pelo prestador;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  -->
  <xsd:simpleType name="TSChaveNFSe">
    <xsd:annotation>
      <xsd:documentation>Tipo Chave da Nota Fiscal de Serviço Eletrônica</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:maxLength value="50"/>
      <xsd:pattern value="[0-9]{50}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSChaveNFe">
    <xsd:annotation>
      <xsd:documentation>Tipo Chave da Nota Fiscal Eletrônica - NF-e</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:maxLength value="44"/>
      <xsd:pattern value="[0-9]{44}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodJustCanc">
    <xsd:annotation>
      <xsd:documentation>
        Código de justificativa de cancelamento:
        1 - Erro na Emissão;
        2 - Serviço não Prestado;
        9 - Outros;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodJustSubst">
    <xsd:annotation>
      <xsd:documentation>
        Código de justificativa para substituição de NFS-e:
        01 - Desenquadramento de NFS-e do Simples Nacional;
        02 - Enquadramento de NFS-e no Simples Nacional;
        03 - Inclusão Retroativa de Imunidade/Isenção para NFS-e;
        04 - Exclusão Retroativa de Imunidade/Isenção para NFS-e;
        05 - Rejeição de NFS-e pelo tomador ou pelo intermediário se responsável pelo recolhimento do tributo;
        99 - Outros;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="01"/>
      <xsd:enumeration value="02"/>
      <xsd:enumeration value="03"/>
      <xsd:enumeration value="04"/>
      <xsd:enumeration value="05"/>
      <xsd:enumeration value="99"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodJustAnaliseFiscalCanc">
    <xsd:annotation>
      <xsd:documentation>
        Código do motivo da solicitação de análise fiscal para cancelamento de NFS-e:
        1 - Erro na Emissão;
        2 - Serviço não Prestado;
        3 - Outros.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodMotivoRejeicao">
    <xsd:annotation>
      <xsd:documentation>
        Motivo da Rejeição da NFS-e:
        1 - NFS-e em duplicidade;
        2 - NFS-e já emitida pelo tomador;
        3 - Não ocorrência do fato gerador;
        4 - Erro quanto a responsabilidade tributária;
        5 - Erro quanto ao valor do serviço, valor das deduções ou serviço prestado ou data do fato gerador;
        9 - Outros;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="4"/>
      <xsd:enumeration value="5"/>
      <xsd:enumeration value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodJustAnaliseFiscalCancDef">
    <xsd:annotation>
      <xsd:documentation>
        Resposta da análise da solicitação do cancelamento extemporâneo de NFS-e:
        1 - Cancelamento Extemporâneo Deferido.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodJustAnaliseFiscalCancIndef">
    <xsd:annotation>
      <xsd:documentation>
        Resposta da análise da solicitação do cancelamento extemporâneo de NFS-e:
        1 - Cancelamento Extemporâneo Indeferido;
        2 - Cancelamento Extemporâneo Indeferido Sem Análise de Mérito.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNumProcAdmAnaliseFiscalCanc">
    <xsd:annotation>
      <xsd:documentation>Número do processo administrativo municipal vinculado à solicitação de cancelamento extemporâneo de NFS-e.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="30"/>
      <xsd:pattern value="[0-9]{1,30}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodAutorManifestacao">
    <xsd:annotation>
      <xsd:documentation>
        Tipo do autor da manifestação da NFS-e:
        1 - Prestador;
        2 - Tomador;
        3 - Intermediário.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSMotivo">
    <xsd:annotation>
      <xsd:documentation>Descrição do motivo da substituição da NFS-e</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="TSString">
      <xsd:minLength value="15"/>
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCNPJ">
    <xsd:annotation>
      <xsd:documentation>Tipo Número do CNPJ</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="14"/>
      <xsd:maxLength value="14"/>
      <xsd:pattern value="[0-9]{14}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCPF">
    <xsd:annotation>
      <xsd:documentation>Tipo Número do CPF</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:maxLength value="11"/>
      <xsd:maxLength value="11"/>
      <xsd:pattern value="[0-9]{11}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCAEPF">
    <xsd:annotation>
      <xsd:documentation>Tipo Número do CAEPF</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:maxLength value="14"/>
      <xsd:pattern value="[0-9]{14}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNIF">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="40"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodNaoNIF">
    <xsd:annotation>
      <xsd:documentation>
        Motivo para não informação do NIF:
        1 - Dispensado do NIF;
        2 - Não exigência do NIF;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <!-- <xsd:enumeration value="0"/> -->
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSInscMun">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="preserve"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNomeRazaoSocial">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="300"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNomeFantasia">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="150"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSLogradouro">
    <xsd:annotation>
      <xsd:documentation>Logradouro</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="TSString">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNumeroEndereco">
    <xsd:annotation>
      <xsd:documentation>Número</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="TSString">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSComplementoEndereco">
    <xsd:annotation>
      <xsd:documentation>Complemento</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="TSString">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="156"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSBairro">
    <xsd:annotation>
      <xsd:documentation>Bairro</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="TSString">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSUF">
    <xsd:annotation>
      <xsd:documentation>Tipo Sigla da UF</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="AC"/>
      <xsd:enumeration value="AL"/>
      <xsd:enumeration value="AM"/>
      <xsd:enumeration value="AP"/>
      <xsd:enumeration value="BA"/>
      <xsd:enumeration value="CE"/>
      <xsd:enumeration value="DF"/>
      <xsd:enumeration value="ES"/>
      <xsd:enumeration value="GO"/>
      <xsd:enumeration value="MA"/>
      <xsd:enumeration value="MG"/>
      <xsd:enumeration value="MS"/>
      <xsd:enumeration value="MT"/>
      <xsd:enumeration value="PA"/>
      <xsd:enumeration value="PB"/>
      <xsd:enumeration value="PE"/>
      <xsd:enumeration value="PI"/>
      <xsd:enumeration value="PR"/>
      <xsd:enumeration value="RJ"/>
      <xsd:enumeration value="RN"/>
      <xsd:enumeration value="RO"/>
      <xsd:enumeration value="RR"/>
      <xsd:enumeration value="RS"/>
      <xsd:enumeration value="SC"/>
      <xsd:enumeration value="SE"/>
      <xsd:enumeration value="SP"/>
      <xsd:enumeration value="TO"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCEP">
    <xsd:annotation>
      <xsd:documentation>CEP</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[0-9]{8}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodigoEndPostal">
    <xsd:annotation>
      <xsd:documentation>Código de enderaçamento postal</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCidade">
    <xsd:annotation>
      <xsd:documentation>Cidade</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSEstadoProvRegiao">
    <xsd:annotation>
      <xsd:documentation>Estado, província ou região</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSTelefone">
    <xsd:annotation>
      <xsd:documentation>
        Número do telefone do prestador:
        Preencher com o Código DDD + número do telefone.
        Nas operações com exterior é permitido informar o código do país + código da localidade + número do telefone
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[0-9]{6,20}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSEmail">
    <xsd:restriction base="TSString">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodTribMun">
    <xsd:annotation>
      <xsd:documentation>Código de tributação municipal do ISSQN</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[0-9]{10}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodMoeda">
    <xsd:annotation>
      <xsd:documentation>Tipo com código que identifica a moeda conforme tabela do BACEN</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:maxLength value="3"/>
      <xsd:pattern value="[0-9]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSModoPrestacao">
    <xsd:annotation>
      <xsd:documentation>
        Modo de Prestação:
        0 - Desconhecido (tipo não informado na nota de origem);
        1 - Transfronteiriço;
        2 - Consumo no Brasil;
        3 - Presença Comercial no Exterior;
        4 - Movimento Temporário de Pessoas Físicas;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSVincPrest">
    <xsd:annotation>
      <xsd:documentation>
        Vínculo entre as partes no negócio:
        0 - Sem vínculo com o Tomador/Prestador
        1 - Controlada;
        2 - Controladora;
        3 - Coligada;
        4 - Matriz;
        5 - Filial ou sucursal;
        6 - Outro vínculo;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="4"/>
      <xsd:enumeration value="5"/>
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSMecAFComExPrest">
    <xsd:annotation>
      <xsd:documentation>
Mecanismo de apoio/fomento ao Comércio Exterior utilizado pelo prestador do serviço:
00 - Desconhecido (tipo não informado na nota de origem);
01 - Nenhum;
02 - ACC - Adiantamento sobre Contrato de Câmbio – Redução a Zero do IR e do IOF;
03 - ACE – Adiantamento sobre Cambiais Entregues - Redução a Zero do IR e do IOF;
04 - BNDES-Exim Pós-Embarque – Serviços;
05 - BNDES-Exim Pré-Embarque - Serviços;
06 - FGE - Fundo de Garantia à Exportação;
07 - PROEX - EQUALIZAÇÃO
08 - PROEX - Financiamento;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="00"/>
      <xsd:enumeration value="01"/>
      <xsd:enumeration value="02"/>
      <xsd:enumeration value="03"/>
      <xsd:enumeration value="04"/>
      <xsd:enumeration value="05"/>
      <xsd:enumeration value="06"/>
      <xsd:enumeration value="07"/>
      <xsd:enumeration value="08"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSMecAFComExToma">
    <xsd:annotation>
      <xsd:documentation>
Mecanismo de apoio/fomento ao Comércio Exterior utilizado pelo tomador do serviço:
00 - Desconhecido (tipo não informado na nota de origem);
01 - Nenhum;
02 - Adm. Pública e Repr. Internacional;
03 - Alugueis e Arrend. Mercantil de maquinas, equip., embarc. e aeronaves;
04 - Arrendamento Mercantil de aeronave para empresa de transporte aéreo público;
05 - Comissão a agentes externos na exportação;
06 - Despesas de armazenagem, mov. e transporte de carga no exterior;
07 - Eventos FIFA (subsidiária);
08 - Eventos FIFA;
09 - Fretes, arrendamentos de embarcações ou aeronaves e outros;
10 - Material Aeronáutico;
11 - Promoção de Bens no Exterior;
12 - Promoção de Dest. Turísticos Brasileiros;
13 - Promoção do Brasil no Exterior;
14 - Promoção Serviços no Exterior;
15 - RECINE;
16 - RECOPA;
17 - Registro e Manutenção de marcas, patentes e cultivares;
18 - REICOMP;
19 - REIDI;
20 - REPENEC;
21 - REPES;
22 - RETAERO; 
23 - RETID;
24 - Royalties, Assistência Técnica, Científica e Assemelhados;
25 - Serviços de avaliação da conformidade vinculados aos Acordos da OMC;
26 - ZPE;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="00"/>
      <xsd:enumeration value="01"/>
      <xsd:enumeration value="02"/>
      <xsd:enumeration value="03"/>
      <xsd:enumeration value="04"/>
      <xsd:enumeration value="05"/>
      <xsd:enumeration value="06"/>
      <xsd:enumeration value="07"/>
      <xsd:enumeration value="08"/>
      <xsd:enumeration value="09"/>
      <xsd:enumeration value="10"/>
      <xsd:enumeration value="11"/>
      <xsd:enumeration value="12"/>
      <xsd:enumeration value="13"/>
      <xsd:enumeration value="14"/>
      <xsd:enumeration value="15"/>
      <xsd:enumeration value="16"/>
      <xsd:enumeration value="17"/>
      <xsd:enumeration value="18"/>
      <xsd:enumeration value="19"/>
      <xsd:enumeration value="20"/>
      <xsd:enumeration value="21"/>
      <xsd:enumeration value="22"/>
      <xsd:enumeration value="23"/>
      <xsd:enumeration value="24"/>
      <xsd:enumeration value="25"/>
      <xsd:enumeration value="26"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSMovTempBens">
    <xsd:annotation>
      <xsd:documentation>
        Vínculo da Operação à Movimentação Temporária de Bens:
        0 - Desconhecido (tipo não informado na nota de origem);
        1 - Não;
        2 - Vinculada - Declaração de Importação;
        3 - Vinculada - Declaração de Exportação;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCategVeic">
    <xsd:annotation>
      <xsd:documentation>
        Categorias de veículos para cobrança:
        00 - Categoria de veículos (tipo não informado na nota de origem)
        01 - Automóvel, caminhonete e furgão;
        02 - Caminhão leve, ônibus, caminhão trator e furgão;
        03 - Automóvel e caminhonete com semireboque;
        04 - Caminhão, caminhão-trator, caminhão-trator com semi-reboque e ônibus;
        05 - Automóvel e caminhonete com reboque;
        06 - Caminhão com reboque;
        07 - Caminhão trator com semi-reboque;
        08 - Motocicletas, motonetas e bicicletas motorizadas;
        09 - Veículo especial;
        10 - Veículo Isento;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="00"/>
      <xsd:enumeration value="01"/>
      <xsd:enumeration value="02"/>
      <xsd:enumeration value="03"/>
      <xsd:enumeration value="04"/>
      <xsd:enumeration value="05"/>
      <xsd:enumeration value="06"/>
      <xsd:enumeration value="07"/>
      <xsd:enumeration value="08"/>
      <xsd:enumeration value="09"/>
      <xsd:enumeration value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNumDocImport">
    <xsd:annotation>
      <xsd:documentation>Número da Declaração de Importação (DI/DSI/DA/DRI-E) averbado</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="TSString">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNumRegExport">
    <xsd:annotation>
      <xsd:documentation>Número do Registro de Exportação (RE) averbado</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="TSString">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSEnvMDIC">
    <xsd:annotation>
      <xsd:documentation>
        Compartilhar as informações da NFS-e gerada a partir desta DPS com a Secretaria de Comércio Exterior:
        0 - Não enviar para o MDIC;
        1 - Enviar para o MDIC;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSPlaca">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[A-Z]{2,3}[0-9]{4}|[A-Z]{3,4}[0-9]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodAcessoPed">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[a-zA-Z0-9]{10}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodContrato">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[a-zA-Z0-9]{4}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNumEixos">
    <xsd:annotation>
      <xsd:documentation>Número de eixos para fins de cobrança</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[0-9]{1,2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSRodagem">
    <xsd:annotation>
      <xsd:documentation>
        Tipo de rodagem:
        1 - Simples;
        2 - Dupla;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSSentido">
    <xsd:annotation>
      <xsd:documentation>Orientação de passagem do veículo: ângulo em graus a partir do norte geográfico em sentido horário, número inteiro de 0 a 359, onde 0º seria o norte, 90º o leste, 180º o sul, 270º o oeste. Precisão mínima de 10</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[0-9]{1,3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSIdeEvento">
    <xsd:annotation>
      <xsd:documentation>Identificação da Atividade de Evento (código identificador de evento determinado pela Administração Tributária Municipal)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodObra">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodCIB">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:length value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSInscImobFisc">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSDRT">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="40"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSDescInfCompl">
    <xsd:restriction base="TSString">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="2000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodVerificacao">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="9"/>
      <xsd:pattern value="[a-zA-Z0-9]{1,9}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSSerieNFNFS">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="15"/>
      <xsd:pattern value="[a-zA-Z0-9]{1,15}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSIdeDedRed">
    <xsd:annotation>
      <xsd:documentation>
  Identificação da Dedução/Redução:
        1 – Alimentação e bebidas/frigobar;
        2 – Materiais;
        5 – Repasse consorciado;
        6 – Repasse plano de saúde;
        7 – Serviços;
        8 – Subempreitada de mão de obra;
        99 – Outras deduções;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="5"/>
      <xsd:enumeration value="6"/>
      <xsd:enumeration value="7"/>
      <xsd:enumeration value="8"/>
      <xsd:enumeration value="99"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSDescOutDedRed">
    <xsd:annotation>
      <xsd:documentation>Descrição da Dedução/Redução quando a opção é "99 – Outras Deduções"</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="TSString">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="150"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNumBeneficioMunicipal">
    <xsd:annotation>
      <xsd:documentation>
        Identificador do benefício parametrizado pelo município.

        Trata-se de um identificador único que foi gerado pelo Sistema Nacional no momento em que o município de incidência do ISSQN incluiu o benefício no sistema.
        
        Critério de formação do número de identificação de parâmetros municipais:   
        7 dígitos - posição 1 a 7: número identificador do Município, conforme código IBGE;
        2 dígitos - posições 8 e 9 : número identificador do tipo de parametrização (01-legislação, 02-regimes especiais, 03-retenções, 04-outros benefícios);
        5 dígitos - posição 10 a 14 : número sequencial definido pelo sistema quando do registro específico do parâmetro dentro do tipo de parametrização no sistema;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{14}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSOpExigSuspensa">
    <xsd:annotation>
      <xsd:documentation>
        Opção para Exigibilidade Suspensa:
        1 - Exigibilidade Suspensa por Decisão Judicial;
        2 - Exigibilidade Suspensa por Processo Administrativo;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNumProcExigSuspensa">
    <xsd:annotation>
      <xsd:documentation>Número do processo judicial ou administrativo de suspensão da exigibilidade</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{30}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSOpSimpNac">
    <xsd:annotation>
      <xsd:documentation>
        Situação perante o Simples Nacional:
        1 - Não Optante;
        2 - Optante - Microempreendedor Individual (MEI);
        3 - Optante - Microempresa ou Empresa de Pequeno Porte (ME/EPP);
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSRegimeApuracaoSimpNac">
    <xsd:annotation>
      <xsd:documentation>
        Opção para que o contribuinte optante pelo Simples Nacional ME/EPP (opSimpNac = 3) possa indicar, ao emitir o documento fiscal, em qual regime de apuração os tributos federais e municipal estão inseridos, caso tenha ultrapassado algum sublimite ou limite definido para o Simples Nacional.
        1 – Regime de apuração dos tributos federais e municipal pelo SN;
        2 – Regime de apuração dos tributos federais pelo SN e ISSQN  por fora do SN conforme respectiva legislação municipal do tributo;
        3 – Regime de apuração dos tributos federais e municipal por fora do SN conforme respectivas legilações federal e municipal de cada tributo;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSRegEspTrib">
    <xsd:annotation>
      <xsd:documentation>
        Tipos de Regimes Especiais de Tributação:
        0 - Nenhum;
        1 - Ato Cooperado (Cooperativa);
        2 - Estimativa;
        3 - Microempresa Municipal;
        4 - Notário ou Registrador;
        5 - Profissional Autônomo;
        6 - Sociedade de Profissionais;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="4"/>
      <xsd:enumeration value="5"/>
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSTribISSQN">
    <xsd:annotation>
      <xsd:documentation>
        Tributação do ISSQN sobre o serviço prestado:
        1 - Operação tributável;
        2 - Imunidade;
        3 - Exportação de serviço;
        4 - Não Incidência;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSTipoImunidadeISSQN">
    <xsd:annotation>
      <xsd:documentation>
            Identificação da Imunidade do ISSQN – somente para o caso de Imunidade.

            Tipos de Imunidades:
            
            0 - Imunidade (tipo não informado na nota de origem);
            1 - Patrimônio, renda ou serviços, uns dos outros (CF88, Art 150, VI, a);
            2 - Templos de qualquer culto (CF88, Art 150, VI, b);
            3 - Patrimônio, renda ou serviços dos partidos políticos, inclusive suas fundações, das entidades sindicais dos trabalhadores, das instituições de educação e de assistência social, sem fins lucrativos, atendidos os requisitos da lei (CF88, Art 150, VI, c);
            4 - Livros, jornais, periódicos e o papel destinado a sua impressão (CF88, Art 150, VI, d);
            5 - Fonogramas e videofonogramas musicais produzidos no Brasil contendo obras musicais ou literomusicais de autores brasileiros e/ou obras em geral interpretadas por artistas brasileiros bem como os suportes materiais ou arquivos digitais que os contenham, salvo na etapa de replicação industrial de mídias ópticas de leitura a laser.   (CF88, Art 150, VI, e);
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="4"/>
      <xsd:enumeration value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSTipoRetISSQN">
    <xsd:annotation>
      <xsd:documentation>
        Tipo de retencao do ISSQN:
        1 - Não Retido;
        2 - Retido pelo Tomador;
        3 - Retido pelo Intermediario;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSTipoCST">
    <xsd:annotation>
      <xsd:documentation>
        Código de Situação Tributária do PIS/COFINS (CST):
        00 - Nenhum;      
        01 - Operação Tributável com Alíquota Básica;
        02 - Operação Tributável com Alíquota Diferenciada;
        03 - Operação Tributável com Alíquota por Unidade de Medida de Produto;
        04 - Operação Tributável monofásica - Revenda a Alíquota Zero;
        05 - Operação Tributável por Substituição Tributária;
        06 - Operação Tributável a Alíquota Zero;
        07 - Operação Tributável da Contribuição;
        08 - Operação sem Incidência da Contribuição;
        09 - Operação com Suspensão da Contribuição;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="00"/>
      <xsd:enumeration value="01"/>
      <xsd:enumeration value="02"/>
      <xsd:enumeration value="03"/>
      <xsd:enumeration value="04"/>
      <xsd:enumeration value="05"/>
      <xsd:enumeration value="06"/>
      <xsd:enumeration value="07"/>
      <xsd:enumeration value="08"/>
      <xsd:enumeration value="09"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSTipoRetPISCofins">
    <xsd:annotation>
      <xsd:documentation>
        Tipo de retencao do Pis/Cofins:
        1 - Retido;
        2 - Não Retido;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSTipoIndTotTrib">
    <xsd:annotation>
      <xsd:documentation>
        Indicador de informação de valor total de tributos. Possui valor fixo igual a zero (indTotTrib=0).
        Não informar nenhum valor estimado para os Tributos (Decreto 8.264/2014).
        0 - Não;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TBMISSQN">
    <xsd:annotation>
      <xsd:documentation>
        Tipo Benefício Municipal (BM):
        1) Isenção;
        2) Redução da BC em 'ppBM' %;
        3) Redução da BC em R$ 'vInfoBM';
        4) Alíquota Diferenciada de 'aliqDifBM' %;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
    <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="4"/>
  </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TStat">
    <xsd:annotation>
      <xsd:documentation>
        Situações possíveis:
        100 - NFS-e Gerada;
        101 - NFS-e de Substituição Gerada;
        102 - NFS-e de Decisão Judicial;
        103 - NFS-e Avulsa;
        107 - NFS-e MEI;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="100"/>
      <xsd:enumeration value="101"/>
      <xsd:enumeration value="102"/>
      <xsd:enumeration value="103"/>
      <xsd:enumeration value="107"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNumDPS">
    <xsd:annotation>
      <xsd:documentation>Tipo Número do DPS</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:maxLength value="15"/>
      <xsd:pattern value="[1-9]{1}[0-9]{0,14}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNNFSe">
    <xsd:annotation>
      <xsd:documentation>Tipo Número sequencial do documento</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:maxLength value="13"/>
      <xsd:pattern value="[1-9]{1}[0-9]{0,12}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNDFSe">
    <xsd:annotation>
      <xsd:documentation>Tipo Número do DFS-e</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:maxLength value="13"/>
      <xsd:pattern value="[1-9]{1}[0-9]{0,12}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodMunIBGE">
    <xsd:annotation>
      <xsd:documentation>Tipo Código do Município segundo tabela IBGE</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[0-9]{7}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodPaisISO">
    <xsd:annotation>
      <xsd:documentation>Tipo Código do País segundo tabela ISO</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[A-Z]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodTribNac">
    <xsd:annotation>
      <xsd:documentation>Código de tributação nacional do ISSQN:
        Regra de formação - 6 dígitos numéricos sendo: 2 para Item (LC 116/2003), 2 para Subitem (LC 116/2003) e 2 para Desdobro Nacional
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[0-9]{6}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodNBS">
    <xsd:annotation>
      <xsd:documentation>
        Código da lista de Nomenclatura Brasileira de Serviços (NBS)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[0-9]{9}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodigoInternoContribuinte">
    <xsd:restriction base="TSString">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="20"/>
      <xsd:pattern value="[a-zA-Z0-9]{1,20}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSDesc150">
    <xsd:restriction base="TSString">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="150"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSDesc255">
    <xsd:restriction base="TSString">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSDesc600">
    <xsd:restriction base="TSString">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="600"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSDesc2000">
    <xsd:restriction base="TSStringComQuebraDeLinha">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="2000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSDec15V2">
    <xsd:annotation>
      <xsd:documentation>Valor decimal com 1 a 15 dígitos mais 2 casas decimais</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="0|0\.[0-9]{2}|[1-9]{1}[0-9]{0,14}(\.[0-9]{2})?"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSDec1V2">
    <xsd:annotation>
      <xsd:documentation>Valor decimal com 1 dígito mais 2 casas decimais</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="0|[0-9]{1}(\.[0-9]{2})?"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSDec2V2">
    <xsd:annotation>
      <xsd:documentation>Valor decimal com 1 ou 2 dígitos mais 2 casas decimais</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="0|0\.[0-9]{2}|[1-9]{1}[0-9]{0,1}(\.[0-9]{2})?"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSDec3V2">
    <xsd:annotation>
      <xsd:documentation>Valor decimal com 1 a 3 dígitos mais 2 casas decimais</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="0|0\.[0-9]{2}|[1-9]{1}[0-9]{0,2}(\.[0-9]{2})?"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNum3Dig">
    <xsd:annotation>
      <xsd:documentation>Número com 3 dígitos</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:maxLength value="3"/>
      <xsd:pattern value="[0-9]{1}[0-9]{0,2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNum7Dig">
    <xsd:annotation>
      <xsd:documentation>Número com 7 dígitos</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:maxLength value="7"/>
      <xsd:pattern value="[0-9]{7}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNum14Dig">
    <xsd:annotation>
      <xsd:documentation>Número com 14 dígitos</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:maxLength value="14"/>
      <xsd:pattern value="[0-9]{14}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNum15Dig">
    <xsd:annotation>
      <xsd:documentation>Número com 15 dígitos</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:maxLength value="15"/>
      <xsd:pattern value="[0-9]{15}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSIdPedRefEvt">
    <xsd:annotation>
      <xsd:documentation>
O identificador do pedido de registro do evento é formado conforme a concatenação dos seguintes campos:
"PRE" + Chave de Acesso NFS-e + Tipo do evento + Número do Pedido de Registro do Evento (nPedRegEvento)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:maxLength value="62"/>
      <xsd:pattern value="PRE[0-9]{59}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSIdEvento">
    <xsd:annotation>
      <xsd:documentation>
      Identificador do evento: "EVT" + Chave de acesso(50) Tipo do evento (6) + Pedido de Registro do Evento(3) (nPedRegEvento)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:maxLength value="62"/>
      <xsd:pattern value="EVT[0-9]{59}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCodigoEventoNFSe">
    <xsd:annotation>
      <xsd:documentation>
      Código de evento da NFS-e
      e101101 - Cancelamento de NFS-e;
      e105102 - Cancelamento de NFS-e por Substituição;
      e105104 - Cancelamento de NFS-e Deferido por Análise Fiscal;
      e105105 - Cancelamento de NFS-e Indeferido por Análise Fiscal;
      e305101 - Cancelamento de NFS-e por Ofício;
      e907202 - ???????????????????????????????
      e967203 - Tributos de NFS-e Recolhidos;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="e101101"/>
      <xsd:enumeration value="e105102"/>
      <xsd:enumeration value="e105104"/>
      <xsd:enumeration value="e105105"/>
      <xsd:enumeration value="e305101"/>
      <!--<xsd:enumeration value="e907202"/>-->
      <xsd:enumeration value="e967203"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSIdNumEvento">
    <xsd:annotation>
      <xsd:documentation>
      Referência ao Id "Manifestação de rejeição da NFS-e" que originou o presente evento de anulação.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[0-9]{59}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNumDFe">
    <xsd:annotation>
      <xsd:documentation>
      Número sequencial do documento gerado por ambiente gerador de DFe do município.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[0-9]{1,13}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSCategoriaServico">
    <xsd:annotation>
      <xsd:documentation>
      Categorias do serviço:
        1 - Locação;
        2 - Sublocação;
        3 - Arrendamento;
        4 - Direito de passagem;
        5 - Permissão de uso;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="4"/>
      <xsd:enumeration value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSObjetoLocacao">
    <xsd:annotation>
      <xsd:documentation>
        Tipo de objetos da locação, sublocação, arrendamento, direito de passagem ou permissão de uso:
        1 - Ferrovia;
        2 - Rodovia;
        3 - Postes;
        4 - Cabos;
        5 - Dutos;
        6 - Condutos de qualquer natureza;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="4"/>
      <xsd:enumeration value="5"/>
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSExtensaoTotal">
    <xsd:annotation>
      <xsd:documentation>Extensão total da ferrovia, rodovia, cabos, dutos ou condutos</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="TSString">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="5"/>
      <xsd:pattern value="[0-9]{1,5}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSNumeroPostes">
    <xsd:annotation>
      <xsd:documentation>Número total de postes</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="TSString">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="6"/>
      <xsd:pattern value="[0-9]{1,6}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSRTCFinNFSe">
    <xsd:annotation>
      <xsd:documentation>
        Indicador da finalidade da emissão de NFS-e:
        0 - NFS-e regular;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSRTCIndFinal">
    <xsd:annotation>
      <xsd:documentation>
        Indica operação de uso ou consumo pessoal (art. 57):
        0 - Não;
        1 - Sim;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSRTCCodIndOp">
    <xsd:annotation>
      <xsd:documentation>
        Código indicador da operação de fornecimento, conforme tabela "código indicador de operação"
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[0-9]{6}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSRTCTpOper">
    <xsd:annotation>
      <xsd:documentation>
        Tipo de Operação com Entes Governamentais ou outros serviços sobre bens imóveis:
        1 – Fornecimento com pagamento posterior;
        2 - Recebimento do pagamento com fornecimento já realizado;
        3 – Fornecimento com pagamento já realizado;
        4 – Recebimento do pagamento com fornecimento posterior;
        5 – Fornecimento e recebimento do pagamento concomitantes;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="4"/>
      <xsd:enumeration value="5"/>
    </xsd:restriction>
  </xsd:simpleType>  
  <xsd:simpleType name="TSRTCTpEnteGov">
    <xsd:annotation>
      <xsd:documentation>
        Tipo de ente governamental
        Para administração pública direta e suas autarquias e fundações:
        1 - União;
        2 - Estado;
        3 - Distrito Federal;
        4 - Município;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSRTCIndDest">
    <xsd:annotation>
      <xsd:documentation>
        A respeito do Destinatário dos serviços:
        0 – o destinatário é o próprio tomador/adquirente identificado na NFS-e (tomador = adquirente = destinatário);
        1 – o destinatário não é o próprio adquirente, podendo ser outra pessoa, física ou jurídica (ou equiparada), ou um estabelecimento diferente do indicado como tomador (tomador = adquirente ≠ destinatário);
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSRTCTpReeRepRes">
    <xsd:annotation>
      <xsd:documentation>
        Tipo de valor incluído neste documento, recebido por motivo de estarem relacionadas a operações de terceiros,
        objeto de reembolso, repasse ou ressarcimento pelo recebedor, já tributados e aqui referenciados
        01 - Repasse de remuneração por intermediação de imóveis a demais corretores envolvidos na operação;
        02 - Repasse de valores a fornecedor relativo a fornecimento intermediado por agência de turismo;
        03 - Reembolso ou ressarcimento recebido por agência de propaganda e publicidade por valores pagos relativos 
             a serviços de produção externa por conta e ordem de terceiro;
        04 - Reembolso ou ressarcimento recebido por agência de propaganda e publicidade por valores pagos relativos 
             a serviços de mídia por conta e ordem de terceiro;
        99 - Outros reembolsos ou ressarcimentos recebidos por valores pagos relativos a operações por conta e ordem de terceiro;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="01"/>
      <xsd:enumeration value="02"/>
      <xsd:enumeration value="03"/>
      <xsd:enumeration value="04"/>
      <xsd:enumeration value="99"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSRTCTipoChaveDFe">
    <xsd:annotation>
      <xsd:documentation>
        Documento fiscal a que se refere a chaveDfe que seja um dos documentos do Repositório Nacional:
        1 - NFS-e;
        2 - NF-e;
        3 - CT-e;
        9 - Outro;
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSRTCChaveDFe">
    <xsd:annotation>
      <xsd:documentation>
        Chave do Documento Fiscal Eletrônico
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:minLength value="1"/>
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSRTCCodSitTrib">
    <xsd:annotation>
      <xsd:documentation>
        Código de Situação Tributária
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[0-9]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSRTCCodClassTrib">
    <xsd:annotation>
      <xsd:documentation>Código de Classificação Tributária</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[0-9]{6}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TSRTCCodCredPres">
    <xsd:annotation>
      <xsd:documentation>Código e Classificação do Crédito Presumido</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve"/>
      <xsd:pattern value="[0-9]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--  -->
  <xsd:simpleType name="tsSimNao">
    <xsd:annotation>
      <xsd:documentation>
        Sim ou Não
        1 - Sim; 
        2 - Nao.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:byte">
      <xsd:pattern value="1|2" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="tsSituacaoLoteDps">
    <xsd:annotation>
      <xsd:documentation>
          Situação do lote de DPS
          1 – Não Recebido;
          2 – Não Processado;
          3 – Processado com Erro;
          4 – Processado com Sucesso.
      </xsd:documentation>
    </xsd:annotation>  
    <xsd:restriction base="xsd:byte">
      <xsd:pattern value="1|2|3|4" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="TSDesc50">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="TSDesc60">
    <xsd:restriction base="TSString">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="tsIdTag">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="255" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="tsSituacaoLoteRps">
    <xsd:annotation>
      <xsd:documentation>
          TSituacao do lote de RPS:
          1 – Não Recebido;
          2 – Não Processado;
          3 – Processado com Erro;
          4 – Processado com Sucesso.
      </xsd:documentation>
    </xsd:annotation>  
    <xsd:restriction base="xsd:byte">
      <xsd:pattern value="1|2|3|4" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="tsCodigoMensagemAlerta">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4" />
      <xsd:minLength value="1" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="tsDescricaoMensagemAlerta">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200" />
      <xsd:minLength value="1" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsUrlVisualizacaoNfse">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2000"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsUrlVerificaAutenticidade">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2000"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsStatusCadastro">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="500" />
      <xsd:minLength value="1" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsCodigoCnae">
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="7" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsExigibilidadeISS">
    <xsd:annotation>
      <xsd:documentation>Exigibilidade do ISS da NFS-e (
        1 - Exigivel; 
        2 - Nao incidencia; 
        3 - Isencao; 
        4 - Exportacao; 
        5 - Imunidade; 
        6 - Exigibilidade Suspensa por Decisao Judicial; 
        7 - Exigibilidade Suspensa por Processo Administrativo)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:byte">
      <xsd:pattern value="1|2|3|4|5|6|7" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsPagina">
    <xsd:restriction base="xsd:nonNegativeInteger">
      <xsd:minInclusive value="1" />
      <xsd:maxInclusive value="999999" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsNumeroRps">
    <xsd:restriction base="xsd:nonNegativeInteger">
      <xsd:totalDigits value="15" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsSerieRps">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5" />
      <xsd:minLength value="1" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsTipoRps">
    <xsd:annotation>
      <xsd:documentation>Tipo do RPS (
        1 - RPS;
        2 - RPS Nota Fiscal Conjugada (Mista); 
        3 - Cupom)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:byte">
      <xsd:pattern value="1|2|3" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsVersao">
    <xsd:restriction base="xsd:token">
      <xsd:pattern value="[1-9]{1}[0-9]{0,1}\.[0-9]{2}" />
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>
