src/NotaNacional.Web/Schemas/nacional/v100/consultarNfseDps.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sped.fazenda.gov.br/nfse" xmlns="http://www.sped.fazenda.gov.br/nfse" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>

  <xsd:element name="ListaMensagemRetorno">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MensagemRetorno" type="tcMensagemRetorno" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>


  <xsd:element name="CompNfse" type="tcCompNfse"/>

  <!-- Consulta de NFS-e por Dps - ConsultarNfsePorDps -->
  <xsd:element name="ConsultarNfseDpsEnvio">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="IdentificacaoDps" type="tcIdentificacaoDps" minOccurs="1" maxOccurs="1" />
        <xsd:element name="Prestador" type="tcIdentificacaoPessoaEmpresa" minOccurs="1" maxOccurs="1" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="ConsultarNfseDpsResposta">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element ref="CompNfse" minOccurs="1" maxOccurs="1" />
        <xsd:element ref="ListaMensagemRetorno" minOccurs="1" maxOccurs="1" />
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  
</xsd:schema>