src/Abrasf.Web/Schemas/cabecalho.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.abrasf.org.br/nfse.xsd" xmlns="http://www.abrasf.org.br/nfse.xsd"
            xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified"
            elementFormDefault="qualified">
    <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#"
                schemaLocation="xmldsig-core-schema20020212.xsd" />
    <xsd:simpleType name="tsVersao">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="[1-9]{1}[0-9]{0,1}\.[0-9]{2}" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="cabecalho">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="versaoDados" type="tsVersao"
                             minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
            <xsd:attribute name="versao" type="tsVersao" use="required" />
        </xsd:complexType>
    </xsd:element>    
</xsd:schema>


