src/Abrasf.Web/Schemas/complexTypes.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.abrasf.org.br/nfse.xsd" xmlns="http://www.abrasf.org.br/nfse.xsd"
	xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified"
	elementFormDefault="qualified">
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#"
		schemaLocation="xmldsig-core-schema20020212.xsd" />

	<!-- definition of complex elements -->
	<xsd:complexType name="tcCpfCnpj">
		<xsd:choice>
			<xsd:element name="Cpf" type="tsCpf" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Cnpj" type="tsCnpj" 
				minOccurs="1" maxOccurs="1" />
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="tcEndereco">
		<xsd:sequence>
			<xsd:element name="Endereco" type="tsEndereco" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Numero" type="tsNumeroEndereco"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Complemento" type="tsComplementoEndereco"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Bairro" type="tsBairro" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="CodigoMunicipio" type="tsCodigoMunicipioIbge"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Uf" type="tsUf" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Cep" type="tsCep" 
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcEnderecoExterior">
		<xsd:sequence>
			<xsd:element name="CodigoPais" type="tsCodigoPaisIbge"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="EnderecoCompletoExterior" type="tsEnderecoCompletoExterior" 
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcContato">
		<xsd:choice minOccurs="1" maxOccurs="1">
		  <xsd:sequence minOccurs="1" maxOccurs="1">
		    <xsd:element name="Telefone" type="tsTelefone" 
				minOccurs="1" maxOccurs="1" />
		    <xsd:element name="Email" type="tsEmail" 
				minOccurs="0" maxOccurs="1" />
		  </xsd:sequence>
		  <xsd:sequence >
		    <xsd:element name="Email" type="tsEmail" 
				minOccurs="1" maxOccurs="1" />
		  </xsd:sequence>
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="tcIdentificacaoOrgaoGerador">
		<xsd:sequence>
			<xsd:element name="CodigoMunicipio" type="tsCodigoMunicipioIbge"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Uf" type="tsUf" 
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcIdentificacaoRps">
		<xsd:sequence>
			<xsd:element name="Numero" type="tsNumeroRps" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Serie" type="tsSerieRps" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Tipo" type="tsTipoRps" 
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcIdentificacaoPessoaEmpresa">
		<xsd:sequence>
			<xsd:element name="CpfCnpj" type="tcCpfCnpj" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcDadosTomador">
		<xsd:sequence>
			<xsd:element name="IdentificacaoTomador" type="tcIdentificacaoPessoaEmpresa"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="NifTomador" type="tsNif"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="RazaoSocial" type="tsRazaoSocial"
				minOccurs="1" maxOccurs="1" />
			<xsd:choice minOccurs="0">
				<xsd:element name="Endereco" type="tcEndereco" 
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="EnderecoExterior" type="tcEnderecoExterior" 
					minOccurs="1" maxOccurs="1" />
			</xsd:choice>
			<xsd:element name="Contato" type="tcContato" 
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="tcDadosIntermediario">
        <xsd:sequence>
            <xsd:element name="IdentificacaoIntermediario" type="tcIdentificacaoPessoaEmpresa" 
				minOccurs="1" maxOccurs="1"/>
            <xsd:element name="RazaoSocial" type="tsRazaoSocial" 
				minOccurs="1" maxOccurs="1"/>
	    <xsd:element name="CodigoMunicipio" type="tsCodigoMunicipioIbge" 
				minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

	<xsd:complexType name="tcValoresDeclaracaoServico">
		<xsd:sequence>
			<xsd:element name="ValorServicos" type="tsValor"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="ValorDeducoes" type="tsValor"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValorPis" type="tsValor" 
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValorCofins" type="tsValor" 
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValorInss" type="tsValor" 
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValorIr" type="tsValor" 
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValorCsll" type="tsValor" 
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="OutrasRetencoes" type="tsValor"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValTotTributos" type="tsValor"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValorIss" type="tsValor" 
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Aliquota" type="tsAliquota" 
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="DescontoIncondicionado" type="tsValor"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="DescontoCondicionado" type="tsValor"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcValoresNfse">
		<xsd:sequence>
			<xsd:element name="BaseCalculo" type="tsValor" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Aliquota" type="tsAliquota" 
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValorIss" type="tsValor" 
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValorLiquidoNfse" type="tsValor"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="tcDadosServico">
		<xsd:sequence>
			<xsd:element name="Valores" type="tcValoresDeclaracaoServico" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="IssRetido" type="tsSimNao" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="ResponsavelRetencao" type="tsResponsavelRetencao" 
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ItemListaServico" type="tsItemListaServico"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="CodigoCnae" type="tsCodigoCnae"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="CodigoTributacaoMunicipio" type="tsCodigoTributacao"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="CodigoNbs" type="tsCodigoNbs"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Discriminacao" type="tsDiscriminacao"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="CodigoMunicipio" type="tsCodigoMunicipioIbge"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="CodigoPais" type="tsCodigoPaisIbge"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ExigibilidadeISS" type="tsExigibilidadeISS"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="IdentifNaoExigibilidade" type="tsIdentifNaoExigibilidade"
				minOccurs="0" maxOccurs="1" />		
			<xsd:element name="MunicipioIncidencia" type="tsCodigoMunicipioIbge"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="NumeroProcesso" type="tsNumeroProcesso"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcDadosConstrucaoCivil">
		<xsd:choice minOccurs="1" maxOccurs="1">
		  <xsd:sequence minOccurs="1" maxOccurs="1">
		    <xsd:element name="CodigoObra" type="tsCodigoObra" 
				minOccurs="1" maxOccurs="1" />
		    <xsd:element name="Art" type="tsArt" 
				minOccurs="0" maxOccurs="1" />
		  </xsd:sequence>
		  <xsd:sequence >
		    <xsd:element name="Art" type="tsArt" 
				minOccurs="1" maxOccurs="1" />
		  </xsd:sequence>
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="tcEvento">
		<xsd:choice minOccurs="1" maxOccurs="1">
		  <xsd:sequence minOccurs="1" maxOccurs="1">
		    <xsd:element name="IdentificacaoEvento" type="tsIdentificacaoEvento" 
				minOccurs="1" maxOccurs="1" />
		    <xsd:element name="DescricaoEvento" type="tsDescricaoEvento" 
				minOccurs="0" maxOccurs="1" />
		  </xsd:sequence>
		  <xsd:sequence >
		    <xsd:element name="DescricaoEvento" type="tsDescricaoEvento" 
				minOccurs="1" maxOccurs="1" />
		  </xsd:sequence>
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="tcDadosPrestador">
		<xsd:sequence>
			<xsd:element name="RazaoSocial" type="tsRazaoSocial"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="NomeFantasia" type="tsNomeFantasia"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Endereco" type="tcEndereco" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Contato" type="tcContato" 
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcIdentificacaoNfseDeducao">
		<xsd:sequence>
			<xsd:element name="CodigoMunicipioGerador" type="tsCodigoMunicipioIbge"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="NumeroNfse" type="tsNumeroNfse"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="CodigoVerificacao" type="tsCodigoVerificacao" 
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcIdentificacaoNfeDeducao">
		<xsd:sequence>
			<xsd:element name="NumeroNfe" type="tsNumeroNfe"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="UfNfe" type="tsUf"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="ChaveAcessoNfe" type="tsChaveAcessoNfe" 
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcOutroDocumentoDeducao">
		<xsd:sequence>
			<xsd:element name="IdentificacaoDocumento" type="tsIdentificacaoDocumento"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="tcIdentificacaoDocumentoDeducao">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="IdentificacaoNfse" type="tcIdentificacaoNfseDeducao" 
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="IdentificacaoNfe" type="tcIdentificacaoNfeDeducao" 
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="OutroDocumento" type="tcOutroDocumentoDeducao" 
					minOccurs="1" maxOccurs="1" />
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcIdentificacaoFornecedor">
		<xsd:sequence>
			<xsd:element name="CpfCnpj" type="tcCpfCnpj"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcFornecedorExterior">
		<xsd:sequence>
			<xsd:element name="NifFornecedor" type="tsNif"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="CodigoPais" type="tsCodigoPaisIbge"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcDadosFornecedor">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="IdentificacaoFornecedor" type="tcIdentificacaoFornecedor" 
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="FornecedorExterior" type="tcFornecedorExterior" 
					minOccurs="1" maxOccurs="1" />
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="tcDadosDeducao">
		<xsd:sequence>
			<xsd:element name="TipoDeducao" type="tsTipoDeducao"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="DescricaoDeducao" type="tsDescricaoDeducao"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="IdentificacaoDocumentoDeducao" type="tcIdentificacaoDocumentoDeducao"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="DadosFornecedor" type="tcDadosFornecedor"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="DataEmissao" type="xsd:date"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="ValorDedutivel" type="tsValor"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="ValorUtilizadoDeducao" type="tsValor"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcInfRps">
		<xsd:sequence>
			<xsd:element name="IdentificacaoRps" type="tcIdentificacaoRps"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="DataEmissao" type="xsd:date"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Status" type="tsStatusRps" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="RpsSubstituido" type="tcIdentificacaoRps"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="Id" type="tsIdTag" />
	</xsd:complexType>

	<xsd:complexType name="tcInfDeclaracaoPrestacaoServico">
		<xsd:sequence>
			<xsd:element name="Rps" type="tcInfRps" 
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Competencia" type="xsd:date"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Servico" type="tcDadosServico"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Prestador" type="tcIdentificacaoPessoaEmpresa"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="TomadorServico" type="tcDadosTomador"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Intermediario" type="tcDadosIntermediario"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ConstrucaoCivil" type="tcDadosConstrucaoCivil"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="RegimeEspecialTributacao" type="tsRegimeEspecialTributacao"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="OptanteSimplesNacional" type="tsSimNao"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="IncentivoFiscal" type="tsSimNao"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Evento" type="tcEvento"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="InformacoesComplementares" type="tsInformacoesComplementares"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Deducao" type="tcDadosDeducao"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="Id" type="tsIdTag" />
	</xsd:complexType>

	<xsd:complexType name="tcDeclaracaoPrestacaoServico">
		<xsd:sequence>
			<xsd:element name="InfDeclaracaoPrestacaoServico" type="tcInfDeclaracaoPrestacaoServico" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element ref="dsig:Signature" 
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcIdentificacaoNfse">
		<xsd:sequence>
			<xsd:element name="Numero" type="tsNumeroNfse" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="CpfCnpj" type="tcCpfCnpj" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="CodigoMunicipio" type="tsCodigoMunicipioIbge"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcInfNfse">
		<xsd:sequence>
			<xsd:element name="Numero" type="tsNumeroNfse" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="CodigoVerificacao" type="tsCodigoVerificacao"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="DataEmissao" type="xsd:dateTime"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="NfseSubstituida" type="tsNumeroNfse"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="OutrasInformacoes" type="tsOutrasInformacoes"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValoresNfse" type="tcValoresNfse"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="DescricaoCodigoTributacaoMunicípio" type="tsDescricaoCodigoTributacaoMunicípio"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValorCredito" type="tsValor"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrestadorServico" type="tcDadosPrestador"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="OrgaoGerador" type="tcIdentificacaoOrgaoGerador"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="DeclaracaoPrestacaoServico" type="tcDeclaracaoPrestacaoServico" 
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="Id" type="tsIdTag" />
	</xsd:complexType>

	<xsd:complexType name="tcNfse">
		<xsd:sequence>
			<xsd:element name="InfNfse" type="tcInfNfse" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element ref="dsig:Signature" 
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="versao" type="tsVersao" use="required" />
	</xsd:complexType>

	<xsd:complexType name="tcInfPedidoCancelamento">
		<xsd:sequence>
			<xsd:element name="IdentificacaoNfse" type="tcIdentificacaoNfse"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="CodigoCancelamento" type="tsCodigoCancelamentoNfse"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="Id" type="tsIdTag" />
	</xsd:complexType>

	<xsd:complexType name="tcPedidoCancelamento">
		<xsd:sequence>
			<xsd:element name="InfPedidoCancelamento" type="tcInfPedidoCancelamento"
				minOccurs="1" maxOccurs="1" />
			<xsd:element ref="dsig:Signature" 
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcInfPedidoConsultarNfseFaixa">
		<xsd:sequence>
			<xsd:element name="Prestador" type="tcIdentificacaoPessoaEmpresa"
						 minOccurs="1" maxOccurs="1" />
			<xsd:element name="Faixa"
						 minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="NumeroNfseInicial" type="tsNumeroNfse"
									 minOccurs="1" maxOccurs="1" />
						<xsd:element name="NumeroNfseFinal" type="tsNumeroNfse"
									 minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Pagina" type="tsPagina"
						 minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="Id" type="tsIdTag" />
	</xsd:complexType>

	<xsd:complexType name="tcPedidoConsultarNfseFaixa">
		<xsd:sequence>
			<xsd:element name="Pedido" type="tcInfPedidoConsultarNfseFaixa"
						 minOccurs="1" maxOccurs="1" />
			<xsd:element ref="dsig:Signature"
						 minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcConfirmacaoCancelamento">
		<xsd:sequence>
			<xsd:element name="Pedido" type="tcPedidoCancelamento"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="DataHora" type="xsd:dateTime"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="Id" type="tsIdTag" />
	</xsd:complexType>

	<xsd:complexType name="tcCancelamentoNfse">
		<xsd:sequence>
			<xsd:element name="Confirmacao" type="tcConfirmacaoCancelamento"
				minOccurs="1" maxOccurs="1" />
			<xsd:element ref="dsig:Signature" 
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="versao" type="tsVersao" use="required" />
	</xsd:complexType>

	<xsd:complexType name="tcRetCancelamento">
		<xsd:sequence>
			<xsd:element name="NfseCancelamento" type="tcCancelamentoNfse" 
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcInfSubstituicaoNfse">
		<xsd:sequence>
			<xsd:element name="NfseSubstituidora" type="tsNumeroNfse"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="Id" type="tsIdTag" />
	</xsd:complexType>

	<xsd:complexType name="tcSubstituicaoNfse">
		<xsd:sequence>
			<xsd:element name="SubstituicaoNfse" type="tcInfSubstituicaoNfse"
				minOccurs="1" maxOccurs="1" />
			<xsd:element ref="dsig:Signature" 
				minOccurs="0" maxOccurs="2" />
		</xsd:sequence>
		<xsd:attribute name="versao" type="tsVersao" use="required" />
	</xsd:complexType>
	
	<xsd:complexType name="tcCompNfse">
		<xsd:sequence>
			<xsd:element name="Nfse" type="tcNfse" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="NfseCancelamento" type="tcCancelamentoNfse"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="NfseSubstituicao" type="tcSubstituicaoNfse"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CompNfse" type="tcCompNfse"/>

  <xsd:complexType name="tcLinks">
    <xsd:sequence>
      <xsd:element name="IdentificacaoNfse" type="tcIdentificacaoNfse"
				minOccurs="1" maxOccurs="1" />
      <xsd:element name="IdentificacaoRps" type="tcIdentificacaoRps"
				minOccurs="0" maxOccurs="1" />
      <xsd:element name="UrlVisualizacaoNfse" type="tsUrlVisualizacaoNfse"
				minOccurs="1" maxOccurs="1" />      
      <xsd:element name="UrlVerificaAutenticidade" type="tsUrlVerificaAutenticidade"
				minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Links" type="tcLinks"/>


  <xsd:complexType name="tcVigencias">
    <xsd:sequence>
      <xsd:element name="Vigencia" type="tcVigencia"
				minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcVigencia">
    <xsd:sequence>
      <xsd:element name="DataInicial" type="xsd:date"
			minOccurs="1" maxOccurs="1" />
      <xsd:element name="DataFinal" type="xsd:date"
			minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcOpcaoSimplesNacional">
    <xsd:sequence>
      <xsd:element name="OptanteSimplesNacional" type="tsSimNao"
				minOccurs="1" maxOccurs="1" />
      <xsd:element name="Vigencias" type="tcVigencias"
				minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcOpcaoMei">
    <xsd:sequence>
      <xsd:element name="OptanteMei" type="tsSimNao"
				minOccurs="1" maxOccurs="1" />
      <xsd:element name="Vigencias" type="tcVigencias"
				minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcAtividades">
    <xsd:sequence>
      <xsd:element name="Atividade" type="tcAtividade"
				minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcAtividade">
    <xsd:sequence>
      <xsd:element name="CodigoTributacaoMunicipio" type="tsCodigoTributacao"
                minOccurs="1" maxOccurs="1" />
      <xsd:element name="DescricaoCodigoTributacaoMunicípio" type="tsDescricaoCodigoTributacaoMunicípio"
                minOccurs="1" maxOccurs="1" />
      <xsd:element name="Vigencias" type="tcVigencias"
                minOccurs="0" maxOccurs="1" />
      <xsd:element name="Aliquota" type="tsAliquota"
                minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcCnaes">
    <xsd:sequence>
      <xsd:element name="CodigoCnae" type="tsCodigoCnae"
				minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcOperacoesPermitidas">
    <xsd:sequence>
      <xsd:element name="ExigibilidadeISS" type="tsExigibilidadeISS"
				minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcPessoasAutorizadas">
    <xsd:sequence>
      <xsd:element name="PessoasAutorizada" type="tcPessoasAutorizada"
				minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcPessoasAutorizada">
    <xsd:sequence>
      <xsd:element name="CpfCnpj" type="tcCpfCnpj"
				minOccurs="1" maxOccurs="1" />
      <xsd:element name="RazaoSocial" type="tsRazaoSocial"
				minOccurs="1" maxOccurs="1" />      
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tcCadastro">
    <xsd:sequence>
      <xsd:element name="CpfCnpj" type="tcCpfCnpj"
				minOccurs="1" maxOccurs="1" />
      <xsd:element name="InscricaoMunicipal" type="tsInscricaoMunicipal"
				minOccurs="1" maxOccurs="1" />
      <xsd:element name="StatusCadastro" type="tsStatusCadastro"
				minOccurs="1" maxOccurs="1" />
      <xsd:element name="RazaoSocial" type="tsRazaoSocial"
				minOccurs="1" maxOccurs="1" />
      <xsd:element name="NomeFantasia" type="tsNomeFantasia"
				minOccurs="0" maxOccurs="1" />
      <xsd:element name="Endereco" type="tcEndereco"
				minOccurs="0" maxOccurs="1" />
      <xsd:element name="Contato" type="tcContato"
				minOccurs="0" maxOccurs="1" />
      <xsd:element name="OpcaoSimplesNacional" type="tcOpcaoSimplesNacional"
				minOccurs="1" maxOccurs="1" />
      <xsd:element name="OpcaoMei" type="tcOpcaoMei"
				minOccurs="1" maxOccurs="1" />
      <xsd:element name="Atividades" type="tcAtividades"
				minOccurs="0" maxOccurs="1" />
      <xsd:element name="Cnaes" type="tcCnaes"
				minOccurs="0" maxOccurs="1" />
      <xsd:element name="OperacoesPermitidas" type="tcOperacoesPermitidas"
				minOccurs="0" maxOccurs="1" />
      <xsd:element name="PessoasAutorizadas" type="tcPessoasAutorizadas"
				minOccurs="0" maxOccurs="1" />
      <xsd:element name="EmiteNfse" type="tsSimNao"
				minOccurs="1" maxOccurs="1" />
      <xsd:element name="PermiteInformarOutrasDeducoes" type="tsSimNao"
				minOccurs="1" maxOccurs="1" />
      <xsd:element name="PermiteInformarDescontoCondicionado" type="tsSimNao"
				minOccurs="1" maxOccurs="1" />
      <xsd:element name="PermiteInformarDescontoIncondicionado" type="tsSimNao"
				minOccurs="1" maxOccurs="1" />
      <xsd:element name="PermiteTributarFora" type="tsSimNao"
				minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Cadastro" type="tcCadastro"/>  
  
	<xsd:complexType name="tcMensagemRetorno">
		<xsd:sequence>
			<xsd:element name="Codigo" type="tsCodigoMensagemAlerta"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Mensagem" type="tsDescricaoMensagemAlerta"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Correcao" type="tsDescricaoMensagemAlerta"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tcMensagemRetornoLote">
		<xsd:sequence>
			<xsd:element name="IdentificacaoRps" type="tcIdentificacaoRps"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Codigo" type="tsCodigoMensagemAlerta"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Mensagem" type="tsDescricaoMensagemAlerta"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ListaMensagemAlertaRetorno">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MensagemRetorno" type="tcMensagemRetorno"
							 minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="tcLoteRps">
		<xsd:sequence>
			<xsd:element name="NumeroLote" type="tsNumeroLote"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="Prestador" type="tcIdentificacaoPessoaEmpresa" 
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="QuantidadeRps" type="tsQuantidadeRps"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="ListaRps" 
				minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Rps" type="tcDeclaracaoPrestacaoServico"
							minOccurs="1" maxOccurs="unbounded" >
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Id" type="tsIdTag" />
		<xsd:attribute name="versao" type="tsVersao" use="required" />
	</xsd:complexType>
</xsd:schema>

