src/Abrasf.Web/Schemas/substituirNfse.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.abrasf.org.br/nfse.xsd" xmlns="http://www.abrasf.org.br/nfse.xsd"
	xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified"
	elementFormDefault="qualified">
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#"
		schemaLocation="xmldsig-core-schema20020212.xsd" />

	<xsd:element name="ListaMensagemRetorno">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MensagemRetorno" type="tcMensagemRetorno"
							 minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- Servico Substituicao de NFS-e - SubstituirNfse -->	
	<xsd:element name="SubstituirNfseEnvio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SubstituicaoNfse" 
					minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Pedido" type="tcPedidoCancelamento" 
								minOccurs="1" maxOccurs="1" />
							<xsd:element name="Rps" type="tcDeclaracaoPrestacaoServico"
								minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
						<xsd:attribute name="Id" type="tsIdTag" />
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="dsig:Signature" 
					minOccurs="0" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SubstituirNfseResposta">
		<xsd:complexType>
				<xsd:choice>
					<xsd:element name="RetSubstituicao" 
						maxOccurs="1" minOccurs="1">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="NfseSubstituida"
									maxOccurs="1" minOccurs="1">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element ref="CompNfse" 
												maxOccurs="1" minOccurs="1" />
											<xsd:element ref="ListaMensagemAlertaRetorno" 
												minOccurs="0" maxOccurs="1" />
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="NfseSubstituidora"
								maxOccurs="1" minOccurs="1">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element ref="CompNfse" 
												maxOccurs="1" minOccurs="1" />
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element ref="ListaMensagemRetorno" 
						minOccurs="1" maxOccurs="1" />
				</xsd:choice>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>

