src/Abrasf.Web/Schemas/204/consultarNfseFaixa.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.abrasf.org.br/nfse.xsd" xmlns="http://www.abrasf.org.br/nfse.xsd"
	xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified"
	elementFormDefault="qualified">
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#"
		schemaLocation="xmldsig-core-schema20020212.xsd" />

	<xsd:element name="ListaMensagemRetorno">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MensagemRetorno" type="tcMensagemRetorno"
							 minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- Consulta de NFS-e por faixa - ConsultarNfseFaixa -->	
	<xsd:element name="ConsultarNfseFaixaEnvio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Pedido" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Prestador" type="tcIdentificacaoPessoaEmpresa"
										 minOccurs="1" maxOccurs="1" />
							<xsd:element name="Faixa"
										 minOccurs="1" maxOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="NumeroNfseInicial" type="tsNumeroNfse"
													 minOccurs="1" maxOccurs="1" />
										<xsd:element name="NumeroNfseFinal" type="tsNumeroNfse"
													 minOccurs="1" maxOccurs="1" />
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Pagina" type="tsPagina"
										 minOccurs="1" maxOccurs="1"/>			
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="dsig:Signature"
							 minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarNfseFaixaResposta">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="ListaNfse" 
					minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="CompNfse" 
								minOccurs="1" maxOccurs="50"/>
							<xsd:element name="Pagina" type="tsPagina" 
								minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="ListaMensagemRetorno" 
					minOccurs="1" maxOccurs="1" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>

