src/Abrasf.Web/Schemas/204/consultarNfseServicoTomado.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.abrasf.org.br/nfse.xsd" xmlns="http://www.abrasf.org.br/nfse.xsd"
	xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified"
	elementFormDefault="qualified">
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#"
		schemaLocation="xmldsig-core-schema20020212.xsd" />

	<xsd:element name="ListaMensagemRetorno">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MensagemRetorno" type="tcMensagemRetorno"
							 minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- Consulta de NFS-e – Serviços Tomados ou Intermediados - ConsultarNfseServicoTomado -->	
	<xsd:element name="ConsultarNfseServicoTomadoEnvio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Pedido" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Consulente" type="tcIdentificacaoPessoaEmpresa"
										 minOccurs="1" maxOccurs="1" />
							<xsd:choice>
								<xsd:element name="NumeroNfse" type="tsNumeroNfse"
											 minOccurs="1" maxOccurs="1" />
								<xsd:element name="PeriodoEmissao"
											 minOccurs="1" maxOccurs="1">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="DataInicial" type="xsd:date"
														 minOccurs="1" maxOccurs="1" />
											<xsd:element name="DataFinal" type="xsd:date"
														 minOccurs="1" maxOccurs="1" />
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="PeriodoCompetencia"
											 minOccurs="1" maxOccurs="1">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="DataInicial" type="xsd:date"
														 minOccurs="1" maxOccurs="1" />
											<xsd:element name="DataFinal" type="xsd:date"
														 minOccurs="1" maxOccurs="1" />
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:choice>
							<xsd:element name="Prestador" type="tcIdentificacaoPessoaEmpresa"
										 minOccurs="0" maxOccurs="1" />
							<xsd:element name="Tomador" type="tcIdentificacaoPessoaEmpresa"
										 minOccurs="0" maxOccurs="1" />
							<xsd:element name="Intermediario" type="tcIdentificacaoPessoaEmpresa"
										 minOccurs="0" maxOccurs="1" />
							<xsd:element name="Pagina" type="tsPagina"
										 minOccurs="1" maxOccurs="1"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="dsig:Signature"
							 minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarNfseServicoTomadoResposta">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="ListaNfse" 
					minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="CompNfse" 
								minOccurs="1" maxOccurs="50"/>
							<xsd:element name="Pagina" type="tsPagina" 
								minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="ListaMensagemRetorno" 
					minOccurs="1" maxOccurs="1" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>

