src/Abrasf.Web/Schemas/204/simpleTypes.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.abrasf.org.br/nfse.xsd" xmlns="http://www.abrasf.org.br/nfse.xsd"
	xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified"
	elementFormDefault="qualified">
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#"
		schemaLocation="xmldsig-core-schema20020212.xsd" />

	<!-- definition of simple elements -->
	<xsd:simpleType name="tsNumeroNfse">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="15" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsCodigoVerificacao">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="9" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
      		<xsd:pattern value="[a-zA-Z0-9 ]{1,9}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="tsNif">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="tsStatusRps">
		<xsd:annotation>
			<xsd:documentation>Situacao do RPS (
                    1 - Normal; 
                    2 - Cancelado)
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsStatusNfse">
		<xsd:annotation>
			<xsd:documentation>Situacao da NFS-e (
                    1 - Normal; 
                    2 - Cancelada)
            </xsd:documentation>
		</xsd:annotation>	
		<xsd:restriction base="xsd:byte">	
			<xsd:pattern value="1|2" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsExigibilidadeISS">
		<xsd:annotation>
			<xsd:documentation>Exigibilidade do ISS da NFS-e (
					1 - Exigivel; 
					2 - Nao incidencia; 
					3 - Isencao; 
					4 - Exportacao; 
					5 - Imunidade; 
					6 - Exigibilidade Suspensa por Decisao Judicial; 
					7 - Exigibilidade Suspensa por Processo Administrativo)
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3|4|5|6|7" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsIdentifNaoExigibilidade">		
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsNumeroProcesso">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsRegimeEspecialTributacao">
		<xsd:annotation>
			<xsd:documentation>Exigibilidade do ISS da NFS-e (
					1 - Microempresa Municipal; 
					2 - Estimativa; 
					3 - Sociedade de Profissionais; 
					4 - Cooperativa; 
					5 - Microempresario Individual (MEI); 
					6 - Microempresa ou Empresa de Pequeno Porte (ME EPP))
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3|4|5|6" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsSimNao">
		<xsd:annotation>
			<xsd:documentation>Sim ou Nao (
                    1 - Sim; 
                    2 - Nao)
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsResponsavelRetencao">
		<xsd:annotation>
			<xsd:documentation>Responsavel pela retencao do ISSQN (
                    1 - Tomador; 
                    2 - Intermediario)
            </xsd:documentation>
		</xsd:annotation>	
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsPagina">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="1" />
			<xsd:maxInclusive value="999999" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsNumeroRps">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="15" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsSerieRps">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsTipoRps">
		<xsd:annotation>
			<xsd:documentation>Tipo do RPS (
					1 - RPS;
					2 - RPS Nota Fiscal Conjugada (Mista); 
					3 - Cupom)
            </xsd:documentation>
		</xsd:annotation>	
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsOutrasInformacoes">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="510" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsValor">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="15" />
			<xsd:fractionDigits value="2" fixed="true" />
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsItemListaServico">
		<xsd:annotation>
			<xsd:documentation>Subitem do serviço prestado conforme LC 116/2003
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:enumeration value="01.01"/>
			<xsd:enumeration value="01.02"/>
			<xsd:enumeration value="01.03"/>
			<xsd:enumeration value="01.04"/>
			<xsd:enumeration value="01.05"/>
			<xsd:enumeration value="01.06"/>
			<xsd:enumeration value="01.07"/>
			<xsd:enumeration value="01.08"/>
      <xsd:enumeration value="01.09"/>
			<xsd:enumeration value="02.01"/>
			<xsd:enumeration value="03.02"/>
			<xsd:enumeration value="03.03"/>
			<xsd:enumeration value="03.04"/>
			<xsd:enumeration value="03.05"/>
			<xsd:enumeration value="04.01"/>
			<xsd:enumeration value="04.02"/>
			<xsd:enumeration value="04.03"/>
			<xsd:enumeration value="04.04"/>
			<xsd:enumeration value="04.05"/>
			<xsd:enumeration value="04.06"/>
			<xsd:enumeration value="04.07"/>
			<xsd:enumeration value="04.08"/>
			<xsd:enumeration value="04.09"/>
			<xsd:enumeration value="04.10"/>
			<xsd:enumeration value="04.11"/>
			<xsd:enumeration value="04.12"/>
			<xsd:enumeration value="04.13"/>
			<xsd:enumeration value="04.14"/>
			<xsd:enumeration value="04.15"/>
			<xsd:enumeration value="04.16"/>
			<xsd:enumeration value="04.17"/>
			<xsd:enumeration value="04.18"/>
			<xsd:enumeration value="04.19"/>
			<xsd:enumeration value="04.20"/>
			<xsd:enumeration value="04.21"/>
			<xsd:enumeration value="04.22"/>
			<xsd:enumeration value="04.23"/>
			<xsd:enumeration value="05.01"/>
			<xsd:enumeration value="05.02"/>
			<xsd:enumeration value="05.03"/>
			<xsd:enumeration value="05.04"/>
			<xsd:enumeration value="05.05"/>
			<xsd:enumeration value="05.06"/>
			<xsd:enumeration value="05.07"/>
			<xsd:enumeration value="05.08"/>
			<xsd:enumeration value="05.09"/>
			<xsd:enumeration value="06.01"/>
			<xsd:enumeration value="06.02"/>
			<xsd:enumeration value="06.03"/>
			<xsd:enumeration value="06.04"/>
			<xsd:enumeration value="06.05"/>
      <xsd:enumeration value="06.06"/>
			<xsd:enumeration value="07.01"/>
			<xsd:enumeration value="07.02"/>
			<xsd:enumeration value="07.03"/>
			<xsd:enumeration value="07.04"/>
			<xsd:enumeration value="07.05"/>
			<xsd:enumeration value="07.06"/>
			<xsd:enumeration value="07.07"/>
			<xsd:enumeration value="07.08"/>
			<xsd:enumeration value="07.09"/>
			<xsd:enumeration value="07.10"/>
			<xsd:enumeration value="07.11"/>
			<xsd:enumeration value="07.12"/>
			<xsd:enumeration value="07.13"/>
			<xsd:enumeration value="07.16"/>
			<xsd:enumeration value="07.17"/>
			<xsd:enumeration value="07.18"/>
			<xsd:enumeration value="07.19"/>
			<xsd:enumeration value="07.20"/>
			<xsd:enumeration value="07.21"/>
			<xsd:enumeration value="07.22"/>
			<xsd:enumeration value="08.01"/>
			<xsd:enumeration value="08.02"/>
			<xsd:enumeration value="09.01"/>
			<xsd:enumeration value="09.02"/>
			<xsd:enumeration value="09.03"/>
			<xsd:enumeration value="10.01"/>
			<xsd:enumeration value="10.02"/>
			<xsd:enumeration value="10.03"/>
			<xsd:enumeration value="10.04"/>
			<xsd:enumeration value="10.05"/>
			<xsd:enumeration value="10.06"/>
			<xsd:enumeration value="10.07"/>
			<xsd:enumeration value="10.08"/>
			<xsd:enumeration value="10.09"/>
			<xsd:enumeration value="10.10"/>
			<xsd:enumeration value="11.01"/>
			<xsd:enumeration value="11.02"/>
			<xsd:enumeration value="11.03"/>
			<xsd:enumeration value="11.04"/>
			<xsd:enumeration value="11.05"/>
			<xsd:enumeration value="12.01"/>
			<xsd:enumeration value="12.02"/>
			<xsd:enumeration value="12.03"/>
			<xsd:enumeration value="12.04"/>
			<xsd:enumeration value="12.05"/>
			<xsd:enumeration value="12.06"/>
			<xsd:enumeration value="12.07"/>
			<xsd:enumeration value="12.08"/>
			<xsd:enumeration value="12.09"/>
			<xsd:enumeration value="12.10"/>
			<xsd:enumeration value="12.11"/>
			<xsd:enumeration value="12.12"/>
			<xsd:enumeration value="12.13"/>
			<xsd:enumeration value="12.14"/>
			<xsd:enumeration value="12.15"/>
			<xsd:enumeration value="12.16"/>
			<xsd:enumeration value="12.17"/>
			<xsd:enumeration value="13.02"/>
			<xsd:enumeration value="13.03"/>
			<xsd:enumeration value="13.04"/>
			<xsd:enumeration value="13.05"/>
			<xsd:enumeration value="14.01"/>
			<xsd:enumeration value="14.02"/>
			<xsd:enumeration value="14.03"/>
			<xsd:enumeration value="14.04"/>
			<xsd:enumeration value="14.05"/>
			<xsd:enumeration value="14.06"/>
			<xsd:enumeration value="14.07"/>
			<xsd:enumeration value="14.08"/>
			<xsd:enumeration value="14.09"/>
			<xsd:enumeration value="14.10"/>
			<xsd:enumeration value="14.11"/>
			<xsd:enumeration value="14.12"/>
			<xsd:enumeration value="14.13"/>
      <xsd:enumeration value="14.14"/>
			<xsd:enumeration value="15.01"/>
			<xsd:enumeration value="15.02"/>
			<xsd:enumeration value="15.03"/>
			<xsd:enumeration value="15.04"/>
			<xsd:enumeration value="15.05"/>
			<xsd:enumeration value="15.06"/>
			<xsd:enumeration value="15.07"/>
			<xsd:enumeration value="15.08"/>
			<xsd:enumeration value="15.09"/>
			<xsd:enumeration value="15.10"/>
			<xsd:enumeration value="15.11"/>
			<xsd:enumeration value="15.12"/>
			<xsd:enumeration value="15.13"/>
			<xsd:enumeration value="15.14"/>
			<xsd:enumeration value="15.15"/>
			<xsd:enumeration value="15.16"/>
			<xsd:enumeration value="15.17"/>
			<xsd:enumeration value="15.18"/>
			<xsd:enumeration value="16.01"/>
			<xsd:enumeration value="16.02"/>
			<xsd:enumeration value="17.01"/>
			<xsd:enumeration value="17.02"/>
			<xsd:enumeration value="17.03"/>
			<xsd:enumeration value="17.04"/>
			<xsd:enumeration value="17.05"/>
			<xsd:enumeration value="17.06"/>
			<xsd:enumeration value="17.08"/>
			<xsd:enumeration value="17.09"/>
			<xsd:enumeration value="17.10"/>
			<xsd:enumeration value="17.11"/>
			<xsd:enumeration value="17.12"/>
			<xsd:enumeration value="17.13"/>
			<xsd:enumeration value="17.14"/>
			<xsd:enumeration value="17.15"/>
			<xsd:enumeration value="17.16"/>
			<xsd:enumeration value="17.17"/>
			<xsd:enumeration value="17.18"/>
			<xsd:enumeration value="17.19"/>
			<xsd:enumeration value="17.20"/>
			<xsd:enumeration value="17.21"/>
			<xsd:enumeration value="17.22"/>
			<xsd:enumeration value="17.23"/>
			<xsd:enumeration value="17.24"/>
      <xsd:enumeration value="17.25"/>
			<xsd:enumeration value="18.01"/>
			<xsd:enumeration value="19.01"/>
			<xsd:enumeration value="20.01"/>
			<xsd:enumeration value="20.02"/>
			<xsd:enumeration value="20.03"/>
			<xsd:enumeration value="21.01"/>
			<xsd:enumeration value="22.01"/>
			<xsd:enumeration value="23.01"/>
			<xsd:enumeration value="24.01"/>
			<xsd:enumeration value="25.01"/>
			<xsd:enumeration value="25.02"/>
			<xsd:enumeration value="25.03"/>
			<xsd:enumeration value="25.04"/>
      <xsd:enumeration value="25.05"/>
			<xsd:enumeration value="26.01"/>
			<xsd:enumeration value="27.01"/>
			<xsd:enumeration value="28.01"/>
			<xsd:enumeration value="29.01"/>
			<xsd:enumeration value="30.01"/>
			<xsd:enumeration value="31.01"/>
			<xsd:enumeration value="32.01"/>
			<xsd:enumeration value="33.01"/>
			<xsd:enumeration value="34.01"/>
			<xsd:enumeration value="35.01"/>
			<xsd:enumeration value="36.01"/>
			<xsd:enumeration value="37.01"/>
			<xsd:enumeration value="38.01"/>
			<xsd:enumeration value="39.01"/>
			<xsd:enumeration value="40.01"/>
      <xsd:enumeration value="99.99"/>

      <!--Itens somente brasilia utiliza-->
      <xsd:enumeration value="10.01.1"/>
      <xsd:enumeration value="15.07.1"/>
      <xsd:enumeration value="17.01.1"/>
      <!--Itens somente brasilia utiliza-->
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsCodigoCnae">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="7" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsCodigoTributacao">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsDescricaoCodigoTributacaoMunicípio">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1000" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsCodigoNbs">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="9" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsAliquota">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="4" />
			<xsd:fractionDigits value="2" />
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsDiscriminacao">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2000" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsCodigoMunicipioIbge">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="7" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsInscricaoMunicipal">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsRazaoSocial">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="150" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsNomeFantasia">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsCnpj">
		<xsd:restriction base="xsd:string">
			<xsd:length value="14" fixed="true" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsEndereco">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsNumeroEndereco">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsComplementoEndereco">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsBairro">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsUf">
        <xsd:annotation>
			<xsd:documentation>UF (
                    AC - Acre;
                    AL - Alagoas;
                    AM - Amazonas;
                    AP - Amapa;
                    BA - Bahia;
                    CE - Ceara;
                    DF - Distrito Federal;
                    ES - Espirito Santo;
                    GO - Goias;
                    MA - Maranhao;
                    MG - Minas Gerais;
                    MS - Mato Grosso do Sul;
                    MT - Mato Grosso;
                    PA - Para;
                    PB - Paraiba;
                    PE - Pernambuco;
                    PI - Piaui;
                    PR - Parana;
                    RJ - Rio de Janeiro;
                    RN - Rio Grande do Norte;
                    RO - Rondonia;
                    RR - Roraima;
                    RS - Rio Grande do Sul;
                    SC - Santa Catarina;
                    SE - Sergipe;
                    SP - Sao Paulo;
                    TO - Tocantins)
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="2" fixed="true" />
			<xsd:whiteSpace value="collapse" />
			<xsd:enumeration value="AC"/>
			<xsd:enumeration value="AL"/>
			<xsd:enumeration value="AM"/>
			<xsd:enumeration value="AP"/>
			<xsd:enumeration value="BA"/>
			<xsd:enumeration value="CE"/>
			<xsd:enumeration value="DF"/>
			<xsd:enumeration value="ES"/>
			<xsd:enumeration value="GO"/>
			<xsd:enumeration value="MA"/>
			<xsd:enumeration value="MG"/>
			<xsd:enumeration value="MS"/>
			<xsd:enumeration value="MT"/>
			<xsd:enumeration value="PA"/>
			<xsd:enumeration value="PB"/>
			<xsd:enumeration value="PE"/>
			<xsd:enumeration value="PI"/>
			<xsd:enumeration value="PR"/>
			<xsd:enumeration value="RJ"/>
			<xsd:enumeration value="RN"/>
			<xsd:enumeration value="RO"/>
			<xsd:enumeration value="RR"/>
			<xsd:enumeration value="RS"/>
			<xsd:enumeration value="SC"/>
			<xsd:enumeration value="SE"/>
			<xsd:enumeration value="SP"/>
			<xsd:enumeration value="TO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsCodigoPaisIbge">
		<xsd:restriction base="xsd:string">
			<xsd:length value="4" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsCep">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8" />
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="[0-9]{8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsEmail">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsTelefone">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsCpf">
		<xsd:restriction base="xsd:string">
			<xsd:length value="11" fixed="true" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsCodigoObra">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsArt">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsIdentificacaoEvento">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsDescricaoEvento">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsInformacoesComplementares">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2000" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsNumeroLote">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="15" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsNumeroProtocolo">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsSituacaoLoteRps">
		<xsd:annotation>
			<xsd:documentation>TSituacao do lote de RPS(
					1 – Não Recebido;
					2 – Não Processado;
					3 – Processado com Erro;
					4 – Processado com Sucesso)
			</xsd:documentation>
		</xsd:annotation>	
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3|4" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsQuantidadeRps">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsCodigoMensagemAlerta">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsDescricaoMensagemAlerta">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="200" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsCodigoCancelamentoNfse">
		<xsd:annotation>
			<xsd:documentation>Codigo do Cancelamento da NFS-e (
					1 - Erro na emissao;
					2 - Servico nao prestado;
					3 - Erro de assinatura;
					4 - Duplicidade da nota;
					5 - Erro de processamento)
            </xsd:documentation>
		</xsd:annotation>	
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3|4|5" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsIdTag">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsVersao">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[1-9]{1}[0-9]{0,1}\.[0-9]{2}" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsTipoDeducao">
		<xsd:annotation>
			<xsd:documentation>Codigo de identificação do tipo da deducao (
					1 – Materiais;
					2 – Subempreitada de mão de obra;
					3 – Serviços;
					4 – Produção externa;
					5 – Alimentação e bebidas/frigobar;
					6 – Reembolso de despesas;
					7 – Repasse consorciado;
					8 – Repasse plano de saúde;
				   99 – Outras deduções)
            </xsd:documentation>
		</xsd:annotation>	
		<xsd:restriction base="xsd:byte">
			<xsd:pattern value="1|2|3|4|5|6|7|8|99" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsDescricaoDeducao">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="150" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsNumeroNfe">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="9" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsChaveAcessoNfe">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="44" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsIdentificacaoDocumento">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tsEnderecoCompletoExterior">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255" />
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>

  <xsd:simpleType name="tsUrlVisualizacaoNfse">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2000"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsUrlVerificaAutenticidade">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2000"/>
      <xsd:minLength value="1"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tsStatusCadastro">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="500" />
      <xsd:minLength value="1" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>



