src/NotaNacional.Web/Schemas/nacional/v101/enviarLoteDps.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sped.fazenda.gov.br/nfse" xmlns="http://www.sped.fazenda.gov.br/nfse" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  

<xsd:element name="ListaMensagemRetorno">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="MensagemRetorno" type="tcMensagemRetorno"
                         minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

  <!-- Servico Recepcao de Lote de Dps - RecepcionarLoteDps -->
  <xsd:element name="EnviarLoteDpsEnvio">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="LoteDps" type="tcLoteDps" minOccurs="1" maxOccurs="1" />
        <xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="1" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

    <xsd:element name="ListaMensagemRetornoLote">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MensagemRetorno" type="tcMensagemRetornoLote"
                             minOccurs="1" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
  
  <xsd:element name="EnviarLoteDpsResposta">
    <xsd:complexType>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="NumeroLote" type="TSNum15Dig" minOccurs="1" maxOccurs="1" />
          <xsd:element name="DataRecebimento" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
          <xsd:element name="Protocolo" type="TSDesc50" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
        <xsd:element ref="ListaMensagemRetorno" minOccurs="1" maxOccurs="1" />
        <xsd:element ref="ListaMensagemRetornoLote" minOccurs="1" maxOccurs="1" />
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>